<nav id="sidebar" class="active" data-th-fragment="sidebar">
      <div class="sidebar-header">
          <img data-th-src="@{/assets/img/bootstraper-logo.png}" alt="bootraper logo" class="app-logo">
      </div>
      <ul class="list-unstyled components text-secondary">
          <li>
              <a data-th-href="@{/backoffice/home}"><i class="fas fa-home"></i>Home</a>
          </li>
          <li data-th-if="${#strings.contains(#authentication.principal.authorities,'ROLE_COMPANY_STRUCTUR_CREATE')}">
              <a data-th-href="@{/backoffice/organizations}"><i class="fas fa-file-alt"></i>Company Structure</a>
          </li>
          <li data-th-if="${#strings.contains(#authentication.principal.authorities,'ROLE_DEVICE_READ')}">
              <a data-th-href="@{/backoffice/devices}"><i class="fas fa-table"></i>Device</a>
          </li>
          <li data-th-if="${#strings.contains(#authentication.principal.authorities,'ROLE_DEPARTMENT_READ')}">
              <a data-th-href="@{/backoffice/departments}"><i class="fas fa-chart-bar"></i>Department</a>
          </li>
          <li data-th-if="${#strings.contains(#authentication.principal.authorities,'ROLE_WORKTIME_READ')}">
              <a data-th-href="@{/backoffice/worktimes}"><i class="fas fa-clock"></i>Work Time</a>
          </li>
          <li data-th-if="${#strings.contains(#authentication.principal.authorities,'ROLE_EMPLOYEE_READ')}">
              <a data-th-href="@{/backoffice/employees}"><i class="fas fa-user-tie"></i>Employee</a>
          </li>
          <li data-th-if="${#strings.contains(#authentication.principal.authorities,'ROLE_ATTENDANCE_READ')}">
              <a data-th-href="@{/backoffice/attendances}"><i class="fas fa-fingerprint"></i>Attendance</a>
          </li>
      </ul>
  </nav>
      
	<nav class="navbar navbar-expand-lg navbar-white bg-white" data-th-fragment="quicklink">
              <button type="button" id="sidebarCollapse" class="btn btn-light"><i class="fas fa-bars"></i><span></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item dropdown">
                          <div class="nav-dropdown">
                              <a href="" class="nav-item nav-link dropdown-toggle text-secondary" data-toggle="dropdown"><i class="fas fa-shield-alt"></i> <span>Security</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i></a>
                    <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                        <ul class="nav-list">
                            <li data-th-if="${#strings.contains(#authentication.principal.authorities,'ROLE_ACCESS_MENU_READ')}">
                            	<a data-th-href="@{/backoffice/menus}" class="dropdown-item"><i class="fas fa-file-signature"></i> Accessible Menu</a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li data-th-if="${#strings.contains(#authentication.principal.authorities,'ROLE_ACCESS_ROLE_READ')}">
                            	<a data-th-href="@{/backoffice/roles}" class="dropdown-item"><i class="fas fa-user-shield"></i> Role</a>
                            </li>
                            <div class="dropdown-divider"></div>
                            <li data-th-if="${#strings.contains(#authentication.principal.authorities,'ROLE_USER_READ')}">
                            	<a data-th-href="@{/backoffice/users}" class="dropdown-item"><i class="fas fa-users"></i> User</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-dropdown">
                    <a href="" class="nav-item nav-link dropdown-toggle text-secondary" data-toggle="dropdown"><i class="fas fa-user"></i> <span data-th-text="${#authentication.getPrincipal().getUser().getName()}">John Doe</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i></a>
                    <div class="dropdown-menu dropdown-menu-right nav-link-menu">
                        <ul class="nav-list">
                            <li><a data-th-href="@{/backoffice/users-pre-edit?id=}+${#authentication.principal.user.id}" class="dropdown-item"><i class="fas fa-address-card"></i> Profile</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a id="command-runner" class="dropdown-item"><i class="fas fa-address-card"></i> Command Runner</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a data-th-href="@{/logout}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
<script type="text/javascript">

</script>